---
kind: Service
apiVersion: v1
metadata:
  name: catalog-apiserver
  labels:
    app: catalog-apiserver
spec:
  type: NodePort
  selector:
    app: catalog-apiserver
  ports:
  - name: secure
    protocol: TCP
    port: 443
    targetPort: 8443
    nodePort: 30443
